<div class="close">X</div>
<div class="top contenu">
	<div class="couverture">
		<img id="premiere" alt="<%= data.livre.titre %>" src="<%= data.livre.premiere %>" />
		<img id="quatrieme" alt="<%= data.livre.titre %>" src="<%= data.livre.quatrieme %>" />
	</div>
	<div class="texte">
		<div class="titre"><%= data.livre.titre %></div>
		<div class="resume"><%= data.livre.resume %></div>
		<% if (data.livre.infos) { %>
			<div class="infos">
				<ul class="left">
					<% 
						for (var index in data.livre.infos) {
						var info = data.livre.infos[index];
					%>
						<li><%= info %></li>
					<% } %>
				</ul>
			</div>
		<% } %>
	</div>
</div>
<div class="bottom">
	<div class="left member">
		<div class="two">
			<div class="ul">
				<div class="scroll">
					<% 
						for (var index in data.livre.papiers) {
						var buy = data.livre.papiers[index];
					%>
						<span title="Achat <%= buy.titre%> de <%= data.livre.titre %>" class="link" href="<%=buy.link%>"><%= buy.titre%></span>
					<% } %>
					<span id="add-panier-button" title="Acheter <%= data.livre.titre %> &agrave; l'auteure" class="link" name="<%= data.livre.titre %>" price="<%= data.livre.price %>" poids="<%= data.livre.poids %>">Acheter &agrave; l'auteure</span>
				</div>
			</div>
		</div>
		<div class="one">
			<div class="ul">
				<span>Acheter en Livre</span>
			</div>
		</div>
	</div>
	<div class="right member">
		<div class="two">
			<div class="ul">
				<div class="scroll">
					<% 
						for (var index in data.livre.ebooks) {
						var buy = data.livre.ebooks[index];
					%>
						<span title="Achat <%= buy.titre%> de <%= data.livre.titre %>" class="link" href="<%=buy.link%>"><%= buy.titre%></span>
					<% } %>
				</div>
			</div>
		</div>
		<div class="one">
			<div class="ul">
				<span>Acheter en Ebook</span>
			</div>
		</div>
	</div>
</div>
