<!-- Formulaire de livraison redirigeant vers paypal -->
<div class="formulaire">
	<div class="header"></div>
	<div class="header-menu"></div>
	<div class="content flottant">
		<div class="left"></div>
		<div class="corps centralBloc">
			<form id="livraison-form">
				<fieldset>
				    <legend>Informations de livraison</legend>
					<div class="form-item">
						<label for="nom">Nom* : </label>
						<input type="text" name="nom" id="nom" placeholder="Nom" autocomplete="on" autofocus="autofocus" required value="<%=data.sessionFormulaire.nom%>"/>
					</div>
					<div class="form-item">
						<label for="prenom">Pr&eacute;nom* : </label>
						<input type="text" name="prenom" id="prenom" placeholder="Pr&eacute;nom" autocomplete="on" required value="<%=data.sessionFormulaire.prenom%>"/>
					</div>
					<div class="form-item">
						<label for="adresse">Adresse* : </label>
						<input type="text" name="adresse" id="adresse" placeholder="Adresse" autocomplete="on" required value="<%=data.sessionFormulaire.adresse%>"/>
					</div>
					<div class="form-item">
						<label for="cp">Code Postal* : </label>
						<input type="number" name="cp" id="cp" placeholder="00000" autocomplete="on" required maxlength="5" minlength="5" value="<%=data.sessionFormulaire.cp%>"/>
					</div>
					<div class="form-item">
						<label for="ville">Ville* : </label>
						<input type="text" name="ville" id="ville" placeholder="Ville" autocomplete="on" required value="<%=data.sessionFormulaire.ville%>"/>
					</div>
					<div class="form-item">
						<label for="email">Email* : </label>
						<input type="email" name="email" id="email" placeholder="Email" autocomplete="on" required value="<%=data.sessionFormulaire.email%>"/>
					</div>
				</fieldset>
				<fieldset>
				    <legend>Informations de commande</legend>
					<div id="dedicaces">
					</div>
					<div class="form-item">
						<label for="commentaire">Informations compl&eacute;mentaires : </label>
						<textarea name="commentaire" id="commentaire" placeholder="Vous pouvez noter ici tous compl&eacute;ments concernant la livraison ou encore un petit mot pour l'auteur."><%=data.sessionFormulaire.commentaire%></textarea>
					</div>
				</fieldset>
				<div class="form-button">
					<span class="form-link close">Annuler la commande</span>
					<span title="Paiement via paypal sans inscription" class="form-link validate">Payer par carte bancaire</span>
				</div>
			</form>
		</div>
		<div class="right"></div>
	</div>
</div>
<form id="paypal-form" action="https://www.paypal.com/cgi-bin/webscr" method="post">
	<!-- Parametres generaux -->
	<input type="hidden" name="cmd" value="_cart">
	<input type="hidden" name="upload" value="1">
	<input type="hidden" name="business" value="ae.ferrets@gmail.com">
	<input type="hidden" name="currency_code" value="EUR">
	<input type="hidden" name="no_shipping" value="1">
	
	<div id="variables">
	</div>
	
	<!-- parametres regionaux -->
	<input type="hidden" name="country" value="FR">
	<input type="hidden" name="lc" value="FR">
</form>
