<div class="salons article liste">
	<div class="contenu">
		<ul class="menu-liste">
		  <li id="preview">Souvenirs</li>
		  <li id="current">Prochain Salon</li>
		  <li id="next">Salons &agrave; venir</li>
		</ul>
	</div>
</div>
<div class="salons article centralBloc">
	<div class="contenu">
		<div class="texte">
			<div class="date"></div>
			<div class="titre"></div>
			<div class="video">
			</div>
			<div class="img">
			</div>
			<div class="resume"></div>
		</div>
	</div>
	<div class="next plus" style="display: none; width: 50%;">&lt;&lt; Suivant</div>
	<div class="preview plus" style="width: 100%;">Pr&eacute;c&eacute;dent &gt;&gt;</div>
</div>