<div class="listLivre centralBloc">
	<div class="contenu">
		<% 
			for (var index in data.livres) {
			var select = data.livres[index];
		%>
			<div class="livre" key="<%=index%>">
				<div class="livre-image">
					<img class="premiere" alt='<%=select.titre%>' src='<%=select.premiere%>' />
					<img class="loupe" alt="Loupe" src="http://www.quaidesseniors.com/media/g_vignette/11322" />
				</div>
				<div class="livre-texte">
					<h2 class="livre-titre"><%= select.titre %></h2>
					<p class="livre-resume"><%= select.resume %></p>
				</div>
			</div>
		<% } %>
	</div>
</div>