<div>
		Nombre de connexion : <%=data.nbrConnexion%>
		<div class="listTrack">
			<table>
			  <tr>
			      <th>IP</th>
			      <th>Action</th>
			      <th>Derniere date</th>
			      <th>Nombre</th>
			  </tr>
			<% 
				for (var index in data.tracks) {
				var track = data.tracks[index];
				for (var iAction in track.actions) {
				var action = track.actions[iAction];
			%>
				<tr>
					<td><%=track.ip%></td>
					<td><%=iAction%></td>
					<td><%=action.date%></td>
					<td><%=action.nombre%></td>
				</tr>
			<% }
			
			} %>
			</table>
		</div>
</div>